  @font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-Regular.eot");
    src: local("☺"), url("./assets/fonts/Montserrat-Regular.woff") format("woff"),
      url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
      url("./assets/fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
  }
  :root {
    --base-color: #4B006E;
  }
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  [hidden],
  template {
    display: none;
  }
  a {
    background-color: transparent;
  }
  a:active,
  a:hover {
    outline: 0;
  }
  abbr[title] {
    border-bottom: 1px dotted;
  }
  b,
  strong {
    font-weight: 500;
  }
  dfn {
    font-style: italic;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  mark {
    background: #ff0;
    color: #000;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
  img {
    border: 0;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  figure {
    margin: 1em 40px;
  }
  hr {
    box-sizing: content-box;
    height: 0;
  }
  pre {
    overflow: auto;
  }
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  button {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button {
    cursor: pointer;
  }
  button[disabled],
  html input[disabled] {
    cursor: default;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  ::-moz-selection {
    background: #fff498;
  }
  ::selection {
    background: #fff498;
  }
  ::-moz-selection {
    background: #fff498;
  }
  img::-moz-selection {
    background: transparent;
  }
  img::selection {
    background: transparent;
  }
  img::-moz-selection {
    background: transparent;
  }
  body {
    -webkit-tap-highlight-color: var(--base-color);
  }
  body {
    background-color: #0c0c0c;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }
  .l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
    overflow: hidden;
  }
  .l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .l-side-nav {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: 0.35;
    z-index: 10;
  }
  .l-main-content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transform: translateX(10%)
  }
  .l-section {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .device-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0c0c0c;
    z-index: 12;
  }
  .device-notification--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  .device-notification--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .device-notification--message {
    width: 70%;
    margin: 30px 0 0 0;
    font-weight: 700;
    text-align: center;
  }
  .section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
    transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
  }
  .section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity 0.4s ease-in-out 0.4s;
    transition: opacity 0.4s ease-in-out 0.4s;
  }
  .section--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .section--prev {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10;
  }
  .header--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  .header--logo p {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 1px 3px #fff;
  }
  .header--nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
  }
  .header--nav-toggle span,
  .header--nav-toggle::before,
  .header--nav-toggle::after {
    content: "";
    position: relative;
    width: 16px;
    height: 2px;
    background-color: #fff;
  }
  .header--nav-toggle::before {
    bottom: 5px;
    width: 23px;
  }
  .header--nav-toggle::after {
    top: 5px;
    width: 23px;
  }
  .side-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10;
  }
  .side-nav > li {
    position: relative;
    top: -5px;
    color: #fff;
    font-size: 6px;
    cursor: pointer;
  }
  .side-nav > li span {
    position: relative;
    top: 5px;
    left: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0;
    visibility: hidden;
  }
  .side-nav > li::before {
    position: absolute;
    top: 6px;
    left: 10px;
    color: #555;
    font-size: 14px;
    font-weight: 300;
  }
  .side-nav li:nth-child(1)::before {
    content: "Home";
  }
  .side-nav li:nth-child(2)::before {
    content: "Skills";
  }
  .side-nav li:nth-child(3)::before {
    content: "Projects";
  }
  .side-nav li:nth-child(4)::before {
    content: "Resume";
  }
  .side-nav li:nth-child(5)::before {
    content: "Hire me";
  }
  .side-nav li.is-active {
    font-size: 20px;
    transform: translateX(-2px);
    color: #fff;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
  }
  .side-nav li.is-active span {
    top: 0;
    left: -10px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
  }
  .side-nav li.is-active::before {
    content: ">";
    top: 0;
    left: -10px;
    color: #fff;
    font-size: 20px;
    font-weight: 1000;
  }
  .intro {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }
  .intro--banner {
    position: relative;
    height: 350px;
  }
  .intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #282828;
  }
  .intro--banner::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--base-color);
  }
  .intro--banner h4 {
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-25%);
    max-width: 550px;
    font-size: 30px;
    font-family: arial;
    color:rgb(220, 220, 220);
    text-align: left;
    font-weight: 800;
    line-height: 1.3;
    z-index: 9;
  }
  .intro--banner button {
    position: absolute;
    left: 0;
    bottom: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(var(--base-color) 0%, #000 100%);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px #000;
    transition: all .5s ease-in-out;
    z-index: 9;
  }
  .intro--banner button:focus {
    outline: none;
    border: none;
  }
  .intro--banner button:hover {
    transform: scale(1.1);
  }
  .intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -12px;
    width: 350px;
    filter: brightness(25%);
  }
  .intro--banner img:before {
    content: "";
    width: 511px;
    height: 463px;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
  }
  .intro--options {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; */
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .intro--options > div {
    max-width: 100%;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
  }
  .intro--options h3 {
    color:rgb(220, 220, 220);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 800;
  }
  .intro--options p {
    color:rgb(180, 180, 180);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.3;
    font-family: arial;
    margin: 0;
    padding: 0;
  }
  .work {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }
  .work--lockup {
    position: relative;
  }
  .slider-indicator {
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 16px;
    letter-spacing: 5px;
  }
  .work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .work--lockup .slider--item,
  .work--lockup .slider--next2,
  .work--lockup .slider--prev2 {
    position: absolute;
    display: none;
    text-align: center;
    background: #000;
    height: auto;
    padding: 15px 7.5px;
    border-radius: 10px;
  }
  .work--lockup .slider--item a {
    text-decoration: none;
    color: #858585;
  }
  .work--lockup .slider--item-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    width: 150px;
  }
  .work--lockup .slider--item-description {
    display: none;
    max-width: 290px;
    margin: 0 auto;
  }
  .work--lockup p {
    font-family: 'arial';
    font-weight: 0 !important;
    letter-spacing: 1px;
  }
  .work--lockup .slider--item-image {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .work--lockup .slider--item-image img {
    width: 100%;
    border-radius: 5px;
  }
  .work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .1);
  }
  .work--lockup .slider--item-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .1);
  }
  .work--lockup .slider--item-center {
    position: relative;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    height: auto;
    padding: 30px 15px;
    border-radius: 20px;
    z-index: 99;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .15);
  }
  .work--lockup .slider--item-center a {
    color:rgb(173, 173, 173);
  }
  .work--lockup .slider--item-center .slider--item-title {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 300px;
  }
  .work--lockup .slider--item-center .slider--item-description {
    display: block;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 300px;
  }
  .work--lockup .slider--item-center .slider--item-image img {
    border-radius: 10px;
    z-index: 99;
  }
  .work--lockup .slider--item-center:hover .slider--item-image img {
    transform: scale(3);
    transition: all 0.5s ease; 
  }
  .work--lockup .slider--prev2,
  .work--lockup .slider--next2  {
    width: 165px;
    height: 165px;
    background: rgba(0,0,0,0);
    cursor: pointer;
  }
  .work--lockup .slider--prev2 {
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
  }
  .work--lockup .slider--next2 {
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    position: absolute;
    top: 45%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 50%;
    cursor: pointer;
  }
  .work--lockup .slider--next i,
  .work--lockup .slider--prev i {
    font-size: 20px;
    color: #fff;
  }
  .work--lockup .slider--next {
    right: 0;
  }
  .work--lockup .slider--prev {
    left: 0;
  }
  .resume_wrp {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 85%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .resume_img {
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-20%);
    margin: 0 auto;
  }
  .resume_img img {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    z-index: 999;
  }
  .resume_img:hover img {
    transform: scale(1.3);
    transition: all 0.5s ease-in-out; 
  }
  .resume_download {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-20%);
  }
  .resume_download button {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    background: linear-gradient(var(--base-color) 0%, #000 100%);
    box-shadow: 0 0 15px 0 rgba(0,0,0,1);
  }
  .resume_download button:hover {
    background: linear-gradient(var(--base-color) 50%, #000 100%);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  .hire {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 750px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .work-request {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }
  .work-request--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .work-request--options .options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 45px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .work-request--options .options:last-child {
    margin-bottom: 0;
  }
  .work-request--options label {
    display: block;
    width: 170px;
    margin-bottom: 20px;
    line-height: 55px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    background: #4B006E;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 1);
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  .work-request--options h4 {
    margin-bottom: 15px;
  }
  .work-request h3 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
  }
  .work-request p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: arial;
    font-weight: 100 !important;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .work-request .hire-contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
  }
  .work-request .hire-contact a {
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
    color: rgb(129, 169, 255);
    font-size: 18px;
    font-weight: 600 !important;
    letter-spacing: 1px;
  }
  .hire-contact i,
  .hire-contact small {
    display: block;
    text-align: center;
  }
  .hire-contact a:nth-child(1) small,
  .hire-contact a:nth-child(1) i {
    background: linear-gradient(90deg, #2196F3 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .hire-contact a:nth-child(2) small,
  .hire-contact a:nth-child(2) i {
    background: linear-gradient(90deg, #25D366 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .hire-contact a:nth-child(3) small,
  .hire-contact a:nth-child(3) i {
    background: linear-gradient(90deg,  #FF0000 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .hire-contact a:nth-child(1):hover small,
  .hire-contact a:nth-child(1):hover i {
    transform: scale(1.05);
    background: linear-gradient(  #2196F3 0%, #2196F3 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .hire-contact a:nth-child(2):hover small,
  .hire-contact a:nth-child(2):hover i {
    transform: scale(1.05);
    background: linear-gradient(  #25D366 0%, #25D366 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .hire-contact a:nth-child(3):hover small,
  .hire-contact a:nth-child(3):hover i {
    transform: scale(1.05);
    background: linear-gradient(  #FF0000 0%, #FF0000 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
  }
  .work-request--options .options-a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between  
  }
  .work-request--options .options-b { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex;
    width: 72%; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -webkit-justify-content: space-around; 
    -ms-flex-pack: distribute; 
    justify-content: space-around 
  }
  .hire-me .work-request--options label {
    display: block;
    width: 200px;
    margin-bottom: 30px;
    line-height: 55px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  .perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .perspective--modalview {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
  }
  .container-fluid {
    position: relative;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
    transform: translateZ(0) translateX(0) rotateY(0deg);
    min-height: 100%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .modalview .container-fluid {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .effect-rotate-left .container-fluid {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .effect-rotate-left--animate .container-fluid {
    -webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
    transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
  }
  .outer-nav {
    position: absolute;
    top: 50%;
    left: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.2s;
    transition: visibility 0s 0.2s;
  }
  .outer-nav.is-vis {
    visibility: visible;
  }
  .outer-nav--return {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
    z-index: 11;
  }
  .outer-nav--return.is-vis {
    display: block;
  }
  .outer-nav > li {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateX(350px) translateZ(-1000px);
    transform: translateX(350px) translateZ(-1000px);
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 0;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  }
  .outer-nav > li.is-vis {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    opacity: 1;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  }
  .outer-nav > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    width: 150%;
    height: 50px;
    opacity: 0;
    z-index: -1;
    border: 1.5px solid var(--base-color);
    border-radius: 20px;
  }
  .outer-nav > li.is-active::before {
    opacity: 1;
  }
  .outer-nav li.is-vis:nth-child(2) {
    -webkit-transition-delay: 0.04s;
    transition-delay: 0.04s;
  }
  .outer-nav li.is-vis:nth-child(3) {
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
  }
  .outer-nav li.is-vis:nth-child(4) {
    -webkit-transition-delay: 0.12s;
    transition-delay: 0.12s;
  }
  .outer-nav li.is-vis:nth-child(5) {
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
    margin-bottom: 0;
  }


/* Media Queries */
@media (max-width: 1180px) {
    .work {
        max-width: 100%;
    }
    .hire {
        max-width: 100%;
    }
    .resume_wrp {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .l-side-nav {
        display: none;
    }
    .intro {
        max-width: 100%;
    }
    .l-main-content {
        width: 100%;
        transform: translateX(0)
    }
    .intro--banner {
        height: 350px;
    }
    .intro--banner h4 {
        font-size: 25px;
    }
    .intro--banner img {
        width: 350px;
    }
    .work--lockup .slider--item-center:hover .slider--item-image img {
        transform: scale(2.5); 
    }
    .resume_img {
        transform: translateX(0%);
        transform: translateY(-5%);
        width: 300px;
        height: 70%;
    }
    .resume_download {
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }
    .resume_download button {
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    .intro--banner {
        height: 300px;
    }
    .intro--banner h4 {
        font-size: 20px;
    }
    .intro--banner img {
        width: 300px;
    }
    .intro--options {
        display: block;
    }
    .intro--options > a {
        display: block;
        max-width: 100%;
        margin: 0 0 30px 0;
    }
    .intro--options > a:last-child {
        margin-bottom: 0;
    }
    .work--lockup .slider--item-center:hover .slider--item-image img {
        transform: scale(1.8); 
    }
    .work-request--options .options {
        margin-bottom: 30px;
    }
    .work-request--options label {
        line-height: 45px;
    }
}

@media (max-width: 700px) {
    .wrp2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .wrp2 .options-a, .wrp2 .options-b {
        display: block;
        width: auto;
    }
}

@media (max-width: 600px) {
    .header--logo p {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        text-shadow: 0 1px 3px #fff;
    }
    .intro--banner {
        height: 250px;
    }
    .intro--banner h4 {
        font-size: 18px;
    }
    .intro--banner img {
        width: 250px;
    }
    .intro--banner button {
      bottom: 25px;
    }
    .work--lockup .slider {
        width: auto;
    }
    .work--lockup .slider--item-left,
    .work--lockup .slider--item-right {
        display: none;
    }
    .outer-nav li {
        font-size: 20px;
    }
    .work-request--options label {
        width: 150px;
    }
    .work--lockup .slider--item-center:hover .slider--item-image img {
        transform: scale(1.5); 
    }
}

@media (max-width: 500px) {
    .slider-indicator {
        top: -50px;
      }
    .work--lockup .slider--item-center {
        top: -20px;
      }
    .work--lockup .slider--next,
    .work--lockup .slider--prev {
        top: 470px;
        z-index: 99;
        opacity: .8;
    }
    .work--lockup .slider--next {
        right: 30%;
    }
    .work--lockup .slider--prev {
        left: 30%;
    }
    .work--lockup .slider--item-center:hover .slider--item-image img {
        transform: scale(1.2); 
    }
}

@media (max-width: 460px) {
    .hire-me .work-request--options label {
        width: 150px;
        margin-bottom: 25px;
        line-height: 50px;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 0;
    }
}

@media (min-width: 600px) {
    .header--logo i {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .header--logo i,
    .header--logo small {
        font-size: 15px;
    }
}





